BeautifulSoup==3.2.1
numpy==1.9.2
pandas==0.16.2
python_dateutil==2.4.2 # latest version for scikit, don't know if we need the update though...
pytz==2015.4 # latest version for scikit, don't know if we need the update though...
scikit_learn==0.16.1
scipy==0.16.0
six==1.9.0 # latest version for scikit, don't know if we need the update though...
